<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.admin.mybatis.mapper.ConnectorMapper">

    <select id="pageQuery" resultType="com.ly.ttd.biz.admin.srv.connector.res.ConnectorQueryRes">
        SELECT
        id, resource_key, resource_name, version, project_id,
        connector_type, default_value, exception_value, timeout,
        crt_user, crt_time, upt_user, upt_time, resource_json
        FROM ttd_connector
        <where>
            deleted = 0
            <if test="req.resourceKey != null and req.resourceKey != ''">
                AND resource_key LIKE CONCAT('%', #{req.resourceKey}, '%')
            </if>
            <if test="req.resourceName != null and req.resourceName != ''">
                AND resource_name LIKE CONCAT('%', #{req.resourceName}, '%')
            </if>
            <if test="req.connectorType != null and req.connectorType != ''">
                AND connector_type = #{req.connectorType}
            </if>
        </where>
        ORDER BY crt_time DESC
    </select>

</mapper>
