<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.admin.mybatis.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.admin.mybatis.entity.ProjectEntity">
        <id column="id" property="id"/>
        <result column="project_code" property="projectCode"/>
        <result column="name" property="name"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upt_user" property="uptUser"/>
        <result column="upt_time" property="uptTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, project_code, name,
        crt_user, crt_time, upt_user, upt_time, deleted
    </sql>

    <select id="pageQuery" resultType="com.ly.ttd.biz.admin.srv.project.res.ProjectQueryRes">
        SELECT
        id,
        project_code as projectCode,
        name,
        crt_user as crtUser,
        crt_time as crtTime,
        (select count(*) from ttd_project_user a where a.deleted = 0 and a.project_id = b.id) as userCount
        FROM ttd_project b
        <where>
            b.deleted = 0
            <if test="req.name != null and req.name != ''">
                AND b.name LIKE CONCAT('%', #{req.name}, '%')
            </if>
            <if test="req.projectCode != null and req.projectCode != ''">
                AND b.project_code = #{req.projectCode}
            </if>
        </where>
        ORDER BY b.crt_time DESC
    </select>


</mapper>
