<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.feature.dem.sweb.service.mybatis.mapper.FeatureViewMapper">

    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.dem.sweb.service.mybatis.entity.FeatureView">
        <id property="viewId" column="view_id" jdbcType="BIGINT"/>
        <result property="viewName" column="view_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="entityId" column="entity_id" jdbcType="BIGINT"/>
        <result property="sourceTable" column="source_table" jdbcType="VARCHAR"/>
        <result property="viewType" column="view_type" jdbcType="VARCHAR"/>
        <result property="lifecycle" column="lifecycle" jdbcType="INTEGER"/>
        <result property="crtUser" column="crt_user" jdbcType="VARCHAR"/>
        <result property="uptUser" column="upt_user" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
        <result property="uptTime" column="upt_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        view_id,view_name,remark,
        entity_id,source_table,view_type,
        lifecycle,crt_user,upt_user,
        crt_time,upt_time,deleted
    </sql>


</mapper>
