<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.feature.dem.sweb.mybatis.rcs.slave.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.dem.sweb.mybatis.rcs.slave.entity.ProjectEntity">
        <id column="id" property="id"/>
        <result column="project_code" property="projectCode"/>
        <result column="name" property="name"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upt_user" property="uptUser"/>
        <result column="upt_time" property="uptTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, project_code, name,
        crt_user, crt_time, upt_user, upt_time, deleted
    </sql>


    <select id="pageQuery" resultType="com.ly.ttd.biz.feature.dem.sweb.service.project.res.ProjectQueryRes">
        SELECT a.id, a.project_code, a.name,
               a.crt_user, a.crt_time, (select count(distinct user_account) from ttd_project_user where project_id = a.id and deleted = 0) as userCount
        FROM ttd_project a
        where a.deleted = 0
        <if test="req.name != null and req.name != ''">
            AND a.name LIKE CONCAT('%', #{req.name}, '%')
        </if>
        <if test="req.projectCode != null and req.projectCode != ''">
            AND a.project_code = #{req.projectCode}
        </if>
        ORDER BY a.crt_time DESC
    </select>





    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM ttd_project
        WHERE id = #{id} AND deleted = 0
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM ttd_project
        WHERE deleted = 0
        ORDER BY id DESC
    </select>

</mapper>
