<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.admin.mybatis.mapper.FactorMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.admin.mybatis.entity.FactorEntity">
        <id column="id" property="id"/>
        <result column="resource_key" property="resourceKey"/>
        <result column="resource_name" property="resourceName"/>
        <result column="version" property="version"/>
        <result column="project_id" property="projectId"/>
        <result column="factor_type" property="factorType"/>
        <result column="return_type" property="returnType"/>
        <result column="default_value" property="defaultValue"/>
        <result column="exception_value" property="exceptionValue"/>
        <result column="timeout" property="timeout"/>
        <result column="resource_json" property="resourceJson"/>
        <result column="ref_feature_code" property="refFeatureCode"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upt_user" property="uptUser"/>
        <result column="upt_time" property="uptTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 公共查询字段 -->
    <sql id="Base_Column_List">
        id, resource_key, resource_name, version, project_id,
        factor_type, return_type, default_value, exception_value,
        timeout, resource_json, ref_feature_code,
        crt_user, crt_time, upt_user, upt_time, deleted
    </sql>

    <!-- 分页查询条件片段 -->
    <sql id="Query_Condition">
        <where>
            deleted = 0

            <if test="req.resourceKey != null and req.resourceKey != ''">
                AND resource_key LIKE CONCAT('%', #{req.resourceKey}, '%')
            </if>
            <if test="req.resourceName != null and req.resourceName != ''">
                AND resource_name LIKE CONCAT('%', #{req.resourceName}, '%')
            </if>
            <if test="req.factorType != null and req.factorType != ''">
                AND factor_type = #{req.factorType}
            </if>
            <if test="req.returnType != null and req.returnType != ''">
                AND return_type = #{req.returnType}
            </if>
            <if test="req.resourceKeys != null and req.resourceKeys.size() > 0">
                AND resource_key IN
                <foreach collection="req.resourceKeys" item="key" open="(" separator="," close=")">
                    #{key}
                </foreach>
            </if>
        </where>
    </sql>


    <select id="selectByResourceKey" resultType="com.ly.ttd.biz.feature.admin.mybatis.entity.FactorEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ttd_factor
        WHERE resource_key = #{resourceKey}
        ORDER BY crt_time DESC limit 1
    </select>

</mapper>