<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.feature.admin.mybatis.mapper.FeatureConfigMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.admin.mybatis.entity.FeatureConfigEntity">
        <id column="id" property="id"/>
        <result column="resource_key" property="resourceKey"/>
        <result column="resource_name" property="resourceName"/>
        <result column="version" property="version"/>
        <result column="project_id" property="projectId"/>
        <result column="feature_code" property="featureCode"/>
        <result column="default_value" property="defaultValue"/>
        <result column="exception_value" property="exceptionValue"/>
        <result column="timeout" property="timeout"/>
        <result column="main_dimension" property="mainDimension"/>
        <result column="slave_dimension" property="slaveDimension"/>
        <result column="language" property="language"/>
        <result column="condition_script" property="conditionScript"/>
        <result column="main_dim_script" property="mainDimScript"/>
        <result column="slave_dim_script" property="slaveDimScript"/>
        <result column="meta_fields" property="metaFields"/>
        <result column="return_type" property="returnType"/>
        <result column="value_type" property="valueType"/>
        <result column="value_script" property="valueScript"/>
        <result column="fix_value" property="fixValue"/>
        <result column="aggregate_mode" property="aggregateMode"/>
        <result column="time_mode" property="timeMode"/>
        <result column="time_unit" property="timeUnit"/>
        <result column="time_window" property="timeWindow"/>
        <result column="resource_json" property="resourceJson"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upt_user" property="uptUser"/>
        <result column="upt_time" property="uptTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 公共查询字段 -->
    <sql id="Base_Column_List">
        id, resource_key, resource_name, version, project_id,
        feature_code, default_value, exception_value, timeout,
        main_dimension, slave_dimension, language, condition_script,
        main_dim_script, slave_dim_script, meta_fields, return_type,
        value_type, value_script, fix_value, aggregate_mode,
        time_mode, time_unit, time_window, resource_json,
        crt_user, crt_time, upt_user, upt_time, deleted
    </sql>

    <!-- 分页查询条件片段 -->
    <sql id="Query_Condition">
        <where>
            deleted = 0

            <if test="req.resourceKey != null and req.resourceKey != ''">
                AND resource_key LIKE CONCAT('%', #{req.resourceKey}, '%')
            </if>
            <if test="req.resourceName != null and req.resourceName != ''">
                AND resource_name LIKE CONCAT('%', #{req.resourceName}, '%')
            </if>
            <if test="req.featureCode != null and req.featureCode != ''">
                AND feature_code LIKE CONCAT('%', #{req.featureCode}, '%')
            </if>
            <if test="req.returnType != null and req.returnType != ''">
                AND return_type = #{req.returnType}
            </if>
            <if test="req.valueType != null and req.valueType != ''">
                AND value_type = #{req.valueType}
            </if>
        </where>
    </sql>

    <select id="getByResourceKey" resultType="com.ly.ttd.biz.feature.admin.mybatis.entity.FeatureConfigEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ttd_feature_config
        where resource_key = #{resourceKey}
        limit 1
    </select>
    <select id="selectByProjectId" resultType="com.ly.ttd.biz.feature.admin.mybatis.entity.FeatureConfigEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ttd_feature_config
        where project_id = #{projectId}
        and deleted = 0
    </select>
    <select id="selectByFeatureCode" resultType="com.ly.ttd.biz.feature.admin.mybatis.entity.FeatureConfigEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ttd_feature_config
        where feature_code = #{featureCode}
        and deleted = 0
    </select>


</mapper>