<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.feature.admin.mybatis.mapper.FeatureServiceMapper">

    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.admin.mybatis.entity.FeatureService">
        <id property="serviceId" column="service_id" jdbcType="BIGINT"/>
        <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="featureList" column="feature_list" jdbcType="VARCHAR"/>
        <result property="crtUser" column="crt_user" jdbcType="VARCHAR"/>
        <result property="uptUser" column="upt_user" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
        <result property="uptTime" column="upt_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        service_id,service_name,remark,
        feature_list,crt_user,upt_user,
        crt_time,upt_time,deleted
    </sql>


</mapper>
