<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ttd.biz.admin.mybatis.mapper.ProjectUserMapper">

    <resultMap id="BaseResultMap" type="com.ly.ttd.biz.feature.admin.mybatis.entity.ProjectUserEntity">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="user_account" property="userAccount"/>
        <result column="crt_user" property="crtUser"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upt_user" property="uptUser"/>
        <result column="upt_time" property="uptTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, project_id, user_account,
        crt_user, crt_time, upt_user, upt_time, deleted
    </sql>


    <select id="getAll" resultType="com.ly.ttd.biz.feature.admin.mybatis.entity.ProjectUserEntity">
        select
        <include refid="Base_Column_List"/>
        from ttd_project_user
        where deleted = 0
        and project_id = #{projectId}
    </select>

</mapper>
